<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tournament">
            <h2><span jhiTranslate="tournamentManagerApp.tournament.detail.title">Tournament</span> {{ tournament.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tournamentManagerApp.tournament.tournamentName">Tournament Name</span></dt>
                <dd>
                    <span>{{ tournament.tournamentName }}</span>
                </dd>
                <dt><span jhiTranslate="tournamentManagerApp.tournament.date">Date</span></dt>
                <dd>
                    <span>{{ tournament.date }}</span>
                </dd>
                <dt><span jhiTranslate="tournamentManagerApp.tournament.location">Location</span></dt>
                <dd>
                    <span>{{ tournament.location }}</span>
                </dd>
                <dt><span jhiTranslate="tournamentManagerApp.tournament.community">Community</span></dt>
                <dd>
                    <span *ngFor="let community of tournament.communities; let last = last">
                        <a [routerLink]="['/community', community?.id, 'view']">{{ community.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tournament', tournament.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
