<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-score-heading" jhiTranslate="tournamentManagerApp.score.home.createOrEditLabel">Create or edit a Score</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tournamentManagerApp.score.goalsTeam1" for="field_goalsTeam1">Goals Team 1</label>
                    <input type="number" class="form-control" name="goalsTeam1" id="field_goalsTeam1"
                           formControlName="goalsTeam1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tournamentManagerApp.score.goalsTeam2" for="field_goalsTeam2">Goals Team 2</label>
                    <input type="number" class="form-control" name="goalsTeam2" id="field_goalsTeam2"
                           formControlName="goalsTeam2"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
