<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span jhiTranslate="tournamentManagerApp.team.detail.title">Team</span> {{ team.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tournamentManagerApp.team.teamName">Team Name</span></dt>
                <dd>
                    <span>{{ team.teamName }}</span>
                </dd>
                <dt><span jhiTranslate="tournamentManagerApp.team.playersAmount">Players Amount</span></dt>
                <dd>
                    <span>{{ team.playersAmount }}</span>
                </dd>
                <dt><span jhiTranslate="tournamentManagerApp.team.community">Community</span></dt>
                <dd>
                    <div *ngIf="team.community">
                        <a [routerLink]="['/community', team.community?.id, 'view']">{{ team.community?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
